# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space
csharp_using_directive_placement=inside_namespace:silent
csharp_prefer_simple_using_statement=false:suggestion
dotnet_style_qualification_for_field=true:warning
dotnet_style_qualification_for_property=true:warning
dotnet_style_qualification_for_method=true:warning
dotnet_style_qualification_for_event=true:warning
dotnet_code_quality.CA1062.null_check_validation_methods = AssertParameterIsNotNull|AssertParameterIsNotWhiteSpace

# Xml files
[*.xml]
indent_size = 2
