name: 'Pipelines.Hosting v$(major).$(minor).$(patch).$(buildId)$(suffix)'

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - Hosting/*
    exclude:
    - README.md
    - License.md

pool:
  vmImage: 'windows-latest'

variables:
- name: 'solution'
  value: '**/Hosting/*.sln'

- name: 'buildPlatform'
  value: 'Any CPU'

- name: 'buildConfiguration'
  value: 'Release'

- name: 'major'
  value: '2'

- name: 'minor'
  value: '0'

- name: 'patch'
  value: '0'

- name: 'buildId'
  value: $[counter(variables['patch'], 0)]

- name: 'suffix'
  value: ''

- group: 'Pipelines Artifacts Feed'
- group: 'SonarQube Analysis'

- name: 'sonarCloudProjectKey'
  value: 'Pipelines.Hosting'

- name: 'sonarCloudProjectName'
  value: 'Pipelines.Hosting'

- name: 'primarySourceBranch'
  value: 'refs/heads/master'
  
steps:
  - template: ../nuget-build-template.yml