name: 'Pipelines.Core v$(major).$(minor).$(patch).$(buildId)$(suffix)'

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - Core/*
    exclude:
    - README.md
    - License.md

pool:
  vmImage: 'windows-latest'

variables:
- name: 'solution'
  value: '**/Core/*.sln'

- name: 'buildPlatform'
  value: 'Any CPU'

- name: 'buildConfiguration'
  value: 'Release'

- name: 'major'
  value: 2

- name: 'minor'
  value: 0

- name: 'patch'
  value: 1

- name: 'buildId'
  value: $[counter(variables['patch'], 0)]

- name: 'suffix'
  value: ''

- group: 'Pipelines Artifacts Feed'
- group: 'SonarQube Analysis'

- name: 'sonarCloudProjectKey'
  value: 'Pipelines.Core'

- name: 'sonarCloudProjectName'
  value: 'Pipelines.Core'

- name: 'primarySourceBranch'
  value: 'refs/heads/master'
  
steps:
  - template: ../../nuget-build-template.yml