trigger:
  branches:
    include:
    - master
  paths:
    include:
    - Core
    exclude:
    - README.md
    - License.md

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Core/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  major: 0
  minor: 17
  patch: 0
  buildId: $[counter(variables['patch'], 0)]
  suffix: '-beta'
  publishVstsFeed: 'mytrout'
  sonarCloudConnectionName: 'SonarCloud.io - Pipelines'
  sonarCloudOrganization: 'mytrout'
  sonarCloudProjectKey: 'Pipelines.Core'
  sonarCloudProjectName: 'Pipelines.Core'
  sonarCloudEnabled: 'YES'
  
steps:
- task: NuGetToolInstaller@1
  displayName: 'Install latest version of NuGet tools.'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: '$(sonarCloudConnectionName)'
    organization: '$(sonarCloudOrganization)'
    scannerMode: 'MSBuild'
    projectKey: '$(sonarCloudProjectKey)'
    projectName: '$(sonarCloudProjectName)'
    projectVersion: '$(major).$(minor).$(patch)$(suffix)'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'), eq(variables['sonarCloudEnabled'], 'YES'))
  displayName: 'Prepare SonarQube analysis.'

- task: DotNetCoreCLI@2
  inputs:
     command: build
     projects: $(solution)
     arguments: '--configuration $(buildConfiguration) --force -p:Version=$(major).$(minor).$(patch)$(suffix);AssemblyVersion=$(major).$(minor).$(patch).$(buildId);FileVersion=$(major).$(minor).$(patch).$(buildId)'
  displayName: 'Build the solution.'

- task: DotNetCoreCLI@2
  inputs:
     command: test
     projects: $(solution)
     arguments: --configuration $(BuildConfiguration) --collect "XPlat Code Coverage" 
  displayName: 'Run the unit and simple integration tests.'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '**'
    TargetFolder: '$(Common.TestResultsDirectory)'
  displayName: 'Copy the test results to allow SonarCloud to report coverage results.'

- task: SonarCloudAnalyze@1
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'), eq(variables['sonarCloudEnabled'], 'YES'))
  displayName: 'Analyze SonarQube results and upload to SonarCloud.io.'

#
# Could not display code coverage in Azure DevOps with standard VS Test usages.
# https://stackoverflow.com/questions/60893419/azure-devops-code-coverage-for-net-core-3-1/60894835#60894835
#
- task: DotNetCoreCLI@2
  inputs:
    command: custom
    custom: tool
    arguments: 'install --tool-path "$(Agent.TempDirectory)/tools" dotnet-reportgenerator-globaltool'
  displayName: 'Install dotnet reportgenerator globaltool.'

- script: '$(Agent.TempDirectory)/tools/reportgenerator -reports:$(Agent.TempDirectory)/**/coverage.cobertura.xml -targetDir:$(Build.SourcesDirectory)/TestResults/Coverage/Reports -reporttypes:Cobertura'
  displayName: 'Create Cobertura code coverage reports.'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: $(Build.SourcesDirectory)/TestResults/Coverage/Reports/Cobertura.xml
    failIfCoverageEmpty: true
  displayName: 'Publish code coverage to Azure DevOps.'

#
# This step will fail to publish into an Azure DevOps Artifacts, 
#     if the "[project] Build Service" Account does not have Contributor access to the NuGet Feed
#     and/or "Allow project-scoped builds" is not enabled for that account on the NuGet feed.
#
- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.SourcesDirectory)/**/*.nupkg;!$(Build.SourcesDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '$(publishVstsFeed)'
    allowPackageConflicts: true
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  displayName: 'Publish the nuget package to ADO artifacts.'

- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'), eq(variables['sonarCloudEnabled'], 'YES'))
  displayName: 'Publish SonarCloud results to ADO pipeline results.'