name: MyTrout.Pipelines

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-pipelines-core.yaml'
      - '**/Pipelines/Core/**/*.*'
      - '!**/*.md'
      - '!**/*.json'
  pull_request:
    paths:
      - '.github/workflows/build-pipelines-core.yaml'
      - '**/Pipelines/Core/**/*.*'
      - '!**/*.md'
      - '!**/*.json'
  workflow_dispatch:

jobs:
  build:
    uses: './.github/workflows/template-build-pipelines-with-net-6-7-8.yaml'
    with:
      sonar-project-name: 'Pipelines.Core'
      working-directory: '/Core'
      solution-name: 'MyTrout.Pipelines.Core.sln'
      project-version: '4.2.0'
    secrets: inherit
    
