name: MyTrout.Pipelines

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-pipelines-core.yaml'
      - '**/Pipelines/Core/**/*.*'
      - '!**/*.md'
      - '!**/*.json'
  pull_request:
    paths:
      - '.github/workflows/build-pipelines-core.yaml'
      - '**/Pipelines/Core/**/*.*'
      - '!**/*.md'
      - '!**/*.json'
      
jobs:
  build:

    runs-on: windows-latest
    
    env:
        SONAR_HOST_URL: 'https://sonarcloud.io/'
        SONAR_TOKEN: ${{ secrets.MYTROUT_SONARQUBE_API_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NUGET_VERSION: '3.0.0'
        WORKING_DIRECTORY: ${{ github.workspace }}\Core
        
    steps:
      - name: Checkout the Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK 5.0.x
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '5.0.x'
      
      # "dotnet sonarscanner end" now requires Java 11 to be installed.
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
          
      # https://stackoverflow.com/questions/67597824/sonarscanner-for-net-fails-in-github-actions-net-5
      - name: Install Sonar global tool
        run: dotnet tool install --global dotnet-sonarscanner
      
      # https://www.hanselman.com/blog/net-core-code-coverage-as-a-global-tool-with-coverlet
      - name: Install Coverlet global tool
        run: dotnet tool install --global coverlet.console
  
      - name: Begin Sonar scan
        run: dotnet sonarscanner begin /k:"Pipelines.Core" /d:sonar.host.url=${{ secrets.MYTROUT_SONARQUBE_HOST_URL }} /o:${{ secrets.MYTROUT_SONARQUBE_ORGANIZATION }} /d:sonar.login=${{ secrets.MYTROUT_SONARQUBE_API_KEY }} /v:${{ env.NUGET_VERSION }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        
      # dotnet restore can only restore one project file when a ROOT is specified.
      # removed --no-restore from dotnet build as it will implicitly restore all contained projects' dependencies.
      - name: Build
        run: dotnet build --configuration Release
        working-directory: ${{ env.WORKING_DIRECTORY }}
        
      - name: Test with code coverage
        run: coverlet ./test/**/*.dll --target "dotnet" --targetargs "test --no-build"
        working-directory: ${{ env.WORKING_DIRECTORY }}
        
      - name: End Sonar scan
        run: dotnet sonarscanner end /d:sonar.login=${{ secrets.MYTROUT_SONARQUBE_API_KEY }}      
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Upload dotnet test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ${{ env.WORKING_DIRECTORY }}\TestResults\*.trx
          # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
        
      #- name: Publish the package to nuget.org
      #  run: dotnet nuget push "../Pipelines/Core/src/bin/Release/*.nupkg" --api-key ${{ secrets.MYTROUT_NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json"
      #  if: ${{ github.ref == 'refs/heads/master' }}

      #- name: Publish the package to GitHub.
      #  run: dotnet nuget push "../Pipelines/Core/src/bin/Release/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source "https://nuget.pkg.github.com/mytrout/index.json"
      #  if: ${{ github.ref == 'refs/heads/master' }}
 
